<!doctype html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}" />
<title>Inbox</title>
</head>
<html>
<body class="inbox">
<br>
<div class="outter">
<h1 class="inbox">Inbox</h1>
<h3 class="inbox">Welcome to your email account!</h3>
</div>
<br>
<p class="inbox"><a href="{{url_for(filename='inbox.html')}}">Outbox</a> |  <a href="{{url_for('filename=outbox.html')}}">Inbox</a> | <a href="{{(url_for(filename='trash.html')}}">Trash</a></p>
 <form class="inbox" id="form" method="post">
{% for email in emails %}
 <div class="message0">
 <input type="radio"  name="Num" value="{{email.Num}}" class='inputr'>From: {{email.sender}} <br>&emsp;&emsp;<b> Subject: {{ email.subject}}</b></div>
 <div class="input">
 <br>
 <input type="submit" class="inbox" id="Read_Email" name="readE" value="Read"/>
 <input  type="submit" class="inbox" id="Delete_Email" name="deleteE" value="Delete"/>
 <input  type="submit" class="inbox" id="New_Email" name="newE" value="New"/>
 <br>
 <br>
 <br>
 <input type="submit" class="inbox" id="LogOut" value="Logout" name="Logout"/>
 </div>
</form>
</body>
</html>
       
    def redirectDelete(self):
        print "Content-type: text/html"
        print
        print "<!doctype html>"
        print "<html>"
        print "<head>"
        print "<link rel='stylesheet' type='text/css' href='.css/main.css'>"
        print "<meta http-equiv='Refresh' content='0; url=inboxcontroller.py' />"
        print "</head>"
        print "<body>"
        print "<p> Please follow <a href='inboxcontroller.py'>this link</a></p>"
        print "</body>"
        print "</html>"


